{% extends 'base.html' %}

{% block content %}
    {% include 'components/hero.html' %}

    <section class="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-6" data-aos="fade-right">
                    <h2>About Me</h2>
                    <p>I'm passionate about creating data-driven solutions and developing innovative software applications. With expertise in Python, Data Science, and Web Development, I transform complex problems into elegant solutions.</p>
                </div>
                <div class="col-md-6" data-aos="fade-left">
                    {% include 'components/stats.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}